/* * */
/* LABEL */

.label {
	padding: 0;
	margin: 0;
	line-height: 1.2;
	text-wrap: wrap;
}

/* * */
/* LABEL / CAPS */

.label[data-caps="true"] {
	text-transform: uppercase;
}

/* * */
/* LABEL / OVERFLOW */

.label[data-overflow="true"] {
	overflow: hidden;
}

/* * */
/* LABEL / SINGLE LINE */

.label[data-single-line="true"] {
	text-overflow: ellipsis;
	line-clamp: 1;
	text-wrap: nowrap;
	white-space: nowrap;
}

/* * */
/* LABEL / SIZE */

.label[data-size='sm'] {
	font-size: 12px;
	font-weight: var(--font-weight-semibold);
	color: var(--color-system-text-300);
}

.label[data-size='md'] {
	font-size: 16px;
	font-weight: var(--font-weight-semibold);
	color: var(--color-system-text-100);
}

.label[data-size='lg'] {
	font-size: 22px;
	font-weight: var(--font-weight-bold);
	color: var(--color-system-text-100);
}

/* * */
/* LABEL / VARIANT */

.label[data-variant='default'] {
	color: var(--color-system-text-100);
}

.label[data-variant='danger'] {
	color: var(--color-status-danger-primary);
}

.label[data-variant='muted'] {
	color: var(--color-system-text-300);
}

.label[data-variant='success'] {
	color: var(--color-status-success-primary);
}

.label[data-variant='warning'] {
	color: var(--color-status-warning-primary);
}

.label[data-variant='primary'] {
	color: var(--color-primary);
}