/* * */
/* SEVERITY LEVEL */

.levelLow {
	color: var(--color-alerts-0);
}

.levelInfo {
	color: var(--color-alerts-1);
}
	
.levelLowMedium {
	color: var(--color-alerts-2);
}

.levelHigh {
	color: var(--color-alerts-3);
}
