/* * */
/* DESCRIPTION */

.description {
	margin-top: 15px;
	font-size: 14px;
	line-height: 1.5;
	color: var(--color-system-text-200);
	white-space: pre-wrap;
	margin-bottom: 15px;
}

/* * */
/* IMAGE */

.image {
	width: 100%;
	overflow: hidden;
	border: 1px solid var(--color-system-border-200);
	border-radius: 5px;
}
