.container {
    background-color: var(--color-system-background-200);
    position: sticky;
    top: 0;
    z-index: 10;
    padding-bottom: var(--size-spacing-5);
}

.surface {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
}
